{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1 class="border-bottom text-warning mt-5">Projects</h3>
    {% if tag %}
      <h4 class="text-light text-center mb-3">Projects tagged with "{{ tag.name }}"</h4>
    {% endif %}
    <div class="row">      

      {% for project in projects %}
      <div class="col-xs-12 col-sm-6 col-lg-4 mb-2">    
          <div class="card">
            <div class="card-top">
              <a href="{{ project.get_absolute_url }}">
                <img src="{{ project.image.url }}" class="card-img-top" alt="project_image">
              </a>
              <div class="card-body">
                <a href="{{ project.get_absolute_url }}">
                  <h5 class="card-title text-center">{{ project.title }}</h5>
                  <div class="text-center">                    
                    {% for tag in project.tags.all %}
                    <a href="{% url 'projects:projects_by_tag' tag.slug %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </div>
                  <!-- <p class="text-justify">{{ project.tags|truncatewords:10 }}</p> -->
                </a>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>  
    
  
{% endblock content %}
  