{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <h1 class="text-warning mt-5 border-bottom">Education</h1>
    
    <div class="education text-white" style="line-height: 2rem;">
      <h5 class="font_popins">BACHELOR OF TECHNOLOGY IN COMPUTER SCIENCE</h5>
      <span class="border p-1 px-2 rounded text-dark" >2017-2021</span>
      <div>
        <div class="text-light mt-1"><i> Indian Institute of Technology, Vadodara, Gujarat</i></div>
      </div>

      <h5 class="font_popins mt-4">INTERMEDIATE / CLASS-XII</h5>
      <span class="border p-1 px-2 rounded text-dark" >May 2016</span>
      <div>
        <div class="text-light mt-1"><i> Vidhyashram International School, Jodhpur, Rajasthan</i></div>
        <p class="text-justify">The High School was mainly focus on the bases of Science, Mathematics, and Chemistry. There was also a good base on physics, mathematics and chemistry.</p>
      </div>

      <h5 class="font_popins mt-5">HIGH SCHOOL / CLASS-X</h5>
      <span class="border p-1 px-2 rounded text-dark" >May 2014</span>
      <div>
        <div class="text-light mt-1"><i> Vidhyashram International School, Jodhpur, Rajasthan</i></div>
        <p class="text-justify">The Secondary aims at Maths, English, Science, Social Science, Litrature and Languages.</p>
      </div>
    </div>

  </div>
{% endblock content %}
  